body {
    background: #1a1a1a;
    padding: 2em;
}

label {
    /*font*/
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    color: #66aacc;

    /*position*/
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1em;
}

.om-calc {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 500px;
}

.inputNumber {
    /*font*/
    font-family: "Source Code Pro", monospace;
    font-size: 1em;
    color: #ffffff;

    /*position*/
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1em;

    /*element*/
    background: rgba(102, 170, 204, 0.2);
    border-radius: 0;
    border: 1px #66aacc solid;
}
.inputNumber:focus {
    background: rgba(102, 170, 204, 0.4);
    transition: all 0.1s;
}

.inputButton {
    /*font*/
    font-family: "Orbitron", sans-serif;
    font-size: 1em;
    color: #66aacc;

    /*position*/
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1em;

    /*element*/
    background: rgba(102, 170, 204, 0.2);
    border-radius: 0;
    border: 1px #66aacc solid;
}
.inputButton:hover {
    background: rgba(102, 170, 204, 0.4);
    transition: all 0.25s;
}
.inputButton:active {
    background: rgba(102, 170, 204, 0.1);
    transition: all 0.1s;
}