body {
    background: #ffffff;
    padding: 10em;
}

label {
    /*font*/
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #608040;

    /*position*/
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1em;
}

.inputNumber {
    /*font*/
    font-family: "Source Code Pro", monospace;
    font-size: 1em;
    color: #404040;

    /*position*/
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1em;

    /*element*/
    background: #c1ff82;
    border-radius: 4px;
    border: 1px #608040 solid;
}

.inputButton {
    /*font*/
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    color: #ffffff;

    /*position*/
    text-align: left;
    line-height: 1.5;
    margin-bottom: 1em;

    /*element*/
    background: #608040;
    border-radius: 4px;
    border-width: 0;
}